<h2 class='title is-2'>Forgot Password</h2>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>
<form action="/forgot_password" method="post">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email">
  <input type="submit" value="Reset Password">
</form>
