<h1>Forgot Password</h1>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>
<form action="/forgot_password" method="post">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email"><br>
  <input type="submit" value="Reset Password">
</form>
