<h2 class='title is-2'>Forgot Password</h2>
<p>
  You can set a new password after providing your email below:
</p>
<form action="/forgot_password" method="post">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email">
  <input type="submit" value="Reset Password">
</form>
